Node Red/Bonfire Nights.json
[
    {
        "id": "c0d2488b.307368",
        "type": "tab",
        "label": "Bonfire Nights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d489e46c.c591c8",
        "type": "server-events",
        "z": "c0d2488b.307368",
        "name": "Reply Received",
        "server": "b9b14ebe.542fc",
        "version": 1,
        "event_type": "twilio_data_received",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 140,
        "y": 500,
        "wires": [
            [
                "7f5ccad6.8f7b84"
            ]
        ]
    },
    {
        "id": "7f5ccad6.8f7b84",
        "type": "switch",
        "z": "c0d2488b.307368",
        "name": "Yes or No",
        "property": "payload.event.Body",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "39ee2b3c.fcc934"
            ],
            [
                "39ee2b3c.fcc934"
            ],
            [
                "5a14cfee.857b"
            ],
            [
                "5a14cfee.857b"
            ]
        ]
    },
    {
        "id": "5a14cfee.857b",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "No Counter",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "counter",
        "service": "increment",
        "entityId": "counter.bonfire_no",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "1e849f81.15f46"
            ]
        ]
    },
    {
        "id": "39ee2b3c.fcc934",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Yes Counter",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "counter",
        "service": "increment",
        "entityId": "counter.bonfire_yes",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "1e849f81.15f46"
            ]
        ]
    },
    {
        "id": "963f53da.dfc5e",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Reset Counters",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "counter",
        "service": "reset",
        "entityId": "counter.bonfire_yes, counter.bonfire_no",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1f5d2144.9fe60f",
        "type": "function",
        "z": "c0d2488b.307368",
        "name": "Yes, No or Draw ?",
        "func": "if (msg.payload.noCount >= msg.payload.yesCount || null >= msg.payload.yesCount) {\n    msg.result = \"Party's canceled.\";\n    return [msg, null];\n} else if (msg.payload.noCount === msg.payload.yesCount) {\n    msg.result = \"Party's on, bitches!.\";\n    return [null, msg];\n} else {\n    msg.result = \"Party's on, bitches!.\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 840,
        "wires": [
            [
                "a9237603.b7f5c8",
                "cdf746db.6a19f8",
                "6476c6fd.bb17e8"
            ],
            [
                "d7a7d280.e4f59",
                "59b90566.4e92fc",
                "989a6d1d.6a7cb"
            ]
        ]
    },
    {
        "id": "1e849f81.15f46",
        "type": "delay",
        "z": "c0d2488b.307368",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "bb3de854.455678",
                "30de697d.341396"
            ]
        ]
    },
    {
        "id": "bb3de854.455678",
        "type": "api-current-state",
        "z": "c0d2488b.307368",
        "name": "# of Yes",
        "server": "b9b14ebe.542fc",
        "version": 2,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "counter.bonfire_yes",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "yesCount",
                "valueType": "str"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 720,
        "y": 360,
        "wires": [
            [],
            [
                "7d2ad4ea.bf1ccc"
            ]
        ]
    },
    {
        "id": "30de697d.341396",
        "type": "api-current-state",
        "z": "c0d2488b.307368",
        "name": "# of No",
        "server": "b9b14ebe.542fc",
        "version": 2,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "counter.bonfire_no",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "noCount",
                "valueType": "str"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 720,
        "y": 520,
        "wires": [
            [],
            [
                "e55c2e9b.9b082"
            ]
        ]
    },
    {
        "id": "7d2ad4ea.bf1ccc",
        "type": "rbe",
        "z": "c0d2488b.307368",
        "name": "Yes Aggregator",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 860,
        "y": 420,
        "wires": [
            [
                "c508384e.36f8d8"
            ]
        ]
    },
    {
        "id": "e55c2e9b.9b082",
        "type": "rbe",
        "z": "c0d2488b.307368",
        "name": "No Aggregator",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 860,
        "y": 460,
        "wires": [
            [
                "c508384e.36f8d8"
            ]
        ]
    },
    {
        "id": "c508384e.36f8d8",
        "type": "join",
        "z": "c0d2488b.307368",
        "name": "One Payload",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 840,
        "wires": [
            [
                "1f5d2144.9fe60f"
            ]
        ]
    },
    {
        "id": "4d039b6d.a9f294",
        "type": "server-state-changed",
        "z": "c0d2488b.307368",
        "name": "Send Invitation",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.fire_night",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "15",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "78b5086d.dd3d98"
            ],
            []
        ]
    },
    {
        "id": "89517715.272eb8",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Send Text Invites",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "script",
        "service": "send_text_invites",
        "entityId": "script.send_text_invites",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1e849f81.15f46",
                "43e4841d.dfd5ec"
            ]
        ]
    },
    {
        "id": "a9237603.b7f5c8",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Send Text With Cancellation",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "script",
        "service": "send_text_with_cancellation",
        "entityId": "script.send_text_with_cancellation",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d7a7d280.e4f59",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Send Text With Calendar Update",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "script",
        "service": "send_text_with_calendar_update",
        "entityId": "script.send_text_with_calendar_update",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1000,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "43e4841d.dfd5ec",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Start Display Timer",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "timer",
        "service": "start",
        "entityId": "timer.bonfire_timer",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "963f53da.dfc5e"
            ]
        ]
    },
    {
        "id": "59b90566.4e92fc",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Display Party On - ON",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.party_on",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf746db.6a19f8",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Display Party Off - ON",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.party_off",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "989a6d1d.6a7cb",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Display Party Off - OFF",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.party_off",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "6476c6fd.bb17e8",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Display Party On - OFF",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.party_on",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "20922ee3.692312",
        "type": "api-call-service",
        "z": "c0d2488b.307368",
        "name": "Reset Invitation Sender",
        "server": "b9b14ebe.542fc",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.fire_night",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fea059b7.7f3678",
        "type": "delay",
        "z": "c0d2488b.307368",
        "name": "Date Choose Delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "20922ee3.692312"
            ]
        ]
    },
    {
        "id": "78b5086d.dd3d98",
        "type": "api-current-state",
        "z": "c0d2488b.307368",
        "name": "Timer Already Active?",
        "server": "b9b14ebe.542fc",
        "version": 2,
        "outputs": 2,
        "halt_if": "active",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "timer.bonfire_timer",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "20922ee3.692312"
            ],
            [
                "fea059b7.7f3678",
                "89517715.272eb8"
            ]
        ]
    },
    {
        "id": "b9b14ebe.542fc",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]